:root {
    --dark-blue: #222222;
    --pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --brown: #474040;
}

body {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.container {
    width: 1138px;
    margin: 0 auto;
}

.container-2 {
    width: 1600px;
    margin: 0 auto;
    position: relative;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.header {
    background-color: var(--dark-blue);
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
}

.header__navigation {
    display: none;
}

.header__button {
    background-color: transparent;
    border: none;
    margin: 0 34px 0 0;
}

.header__logo {
    margin: 0 10px 0 0;
}

.header__person-link {
    margin: 0 34px 0 0;
}

.brand {
    display: flex;
    margin: 0 0 63px;
    min-height: 675px;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__title-wrapper {
    padding: 0 0 0 91px;
    flex-grow: 1;
    background-color: var(--pink);
    display: flex;
    align-items: center;
}

.brand__subtitle {
    display: block;

    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitle-pink {
    color: var(--dark-pink);
}

.offers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offers__item {
    color: white;
    width: 360px;
    min-height: 260px;
    background-color: var(--brown);
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers__item--woman {
    background-image: url(../img/woman.jpg);
}

.offers__item--man {
    background-image: url(../img/men.png);
}

.offers__item--kids {
    background-image: url(../img/kids.png);
}

.offers__item--accesories {
    width: 100%;
    margin: 0;
    background-image: url(../img/ppr.png);
}

.products {
    margin-top: 132px;
    position: relative;
}

.product-header {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
}

.product-paragraph {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__item {
    color: black;
    width: 360px;
    min-height: 581px;
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-item-cart {
    width: 360px;
}

.cart-wrapper {
    position: relative;
}

.cart-wrapper:hover {
    background: rgba(58, 56, 56, 0.86);
}

.products-item-header {
    margin-bottom: 13px;
}

.products-image {
    display: block;
}

.products-text {
    background: #F8F8F8;
    padding: 25px 29px 20px 19px;
}

.products-item-description {
    margin-bottom: 18px;
}

.brand-wrapper {
    position: relative;
    min-height: 600px;
}

.contacts-content-form {
    position: absolute;
    margin: 90px 0 0 230px;
}

.entryfield1 {
    width: 359px;
    min-height: 44px;
    margin: 20px 0 0 0;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.entryfield2 {
    margin-top: 34px;
    width: 359px;
    min-height: 44px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.entryfield {
    width: 359px;
    min-height: 44px;
}

.radio-box {
    margin: 31px 0 33px 0;
}

.loyality {
    position: absolute;
    width: 540px;
    min-height: 300px;
    margin: 80px 0 0 750px;
    font-size: 24px;
}

.loyality-header1 {
    position: absolute;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.loyality-header2 {
    position: absolute;
    margin: 40px 0 0 0;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.loyality-alllist {
    position: absolute;
    margin: 120px 0 0 0;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.loyality-list:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(../img/list.png);
    background-size: 20px 20px;
    margin: 0 0 0 -20px;
}

.loyality-list {
    padding-top: 20px;
    margin-left: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.advantages {
    position: relative;
    min-height: 341px;
    background-color: #222224;
}

.advantages-container {
    display: flex;
    position: absolute;
    margin: 100px 0 0 270px;
    color: white;
}

.advantages-block {
    margin-right: 50px;
    width: 310px;
    height: 100px;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.advantages-image-1 {
    left: 90px;
    padding-bottom: 28px;
}

.advantages-image-2 {
    left: 90px;
    padding-bottom: 20px;
}

.advantages-image-3 {
    left: 90px;
    padding-bottom: 25px;
}

.advantages-header {
    padding-bottom: 16px;
}

.subscribe {
    min-height: 440px;
    background-image: url(../img/subscribe.png);
    position: relative;
}

.subscribe-photo {
    width: 96px;
    height: 96px;
    position: absolute;
    margin: 97px 0 0 352px;
}

.subscribe-text {
    width: 359px;
    height: 99px;
    position: absolute;
    margin: 223px 0 0 230px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe-form {
    position: absolute;
    margin: 155px 0 0 1017px;
}

footer {
    min-height: 79px;
    background-color: black;
    position: relative;
}

.footer-text {
    position: absolute;
    margin: 30px 0 0 235px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer-pictures {
    position: absolute;
    margin: 22px 0 0 1153px;
}

.product-card {
    min-height: 777px;
}

.product-details {
    position: absolute;
    margin: -60px 0 400px 200px;
    min-height: 601px;
    width: 1200px;
    background-color: #fff;
}

.product-content {
    margin: 0 0 0 520px;
    width: 555px;
    text-align: center;
}

.registration {
    position: relative;
    min-height: 148px;
    background: #F8F3F4;
}

.registration-header {
    position: absolute;
    margin: 59px 0 0 230px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.container-4 {
    width: 1600px;
    margin: 0 auto;
    top: 400px;
    position: relative;
}

.container-5 {
    width: 1600px;
    margin: 0 auto;
    top: 400px;
    position: relative;
}

.products-block {
    position: absolute;
    margin-top: -70px;
}

.products-block1 {
    position: absolute;
    display: flex;
    margin: 0 0 0 10px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.products-block2 {
    position: absolute;
    display: flex;
    width: 200px;
    margin: 0 0 200px 700px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.products-block3 {
    position: absolute;
    display: flex;
    margin: 0 0 0 860px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.products-block4 {
    position: absolute;
    display: flex;
    margin: 0 0 0 938px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.products-block5 {
    position: absolute;
    display: flex;
    margin: -16px 0 0 100px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}


.cart-loyality {
    position: absolute;
    width: 540px;
    min-height: 300px;
    margin: 80px 0 0 230px;
    font-size: 24px;
}

.cart-content-form {
    position: absolute;
    margin: 90px 0 0 950px;
}

.cart-1 {
    height: 306px;
    width: 652px;
    box-shadow: 0.4em 0.4em 5px rgba(214, 212, 212, 0.822);
}

.cart-2 {
    margin-top: 40px;
    height: 306px;
    width: 652px;
    box-shadow: 0.4em 0.4em 5px rgba(214, 212, 212, 0.822);
}

.cart {
    display: flex;
    margin: 0 0 63px;
    min-height: 998px;
}

.cart-1-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 22px;
    margin-left: 31px;
}

.cart-header {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
}

.cart-header-2 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin-bottom: 42px;
}

.cart-paragraph {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
}

.cart-cross {
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 18px;
    margin: 28px 0 0 106px;
}

.cart-number {
    display: inline-block;
    vertical-align: top;
    width: 44px;
    height: 25px;
    border: 1px solid black;
    margin: 198px 0 0 -196px;
    text-align: center;
}

.contacts-form-button {
    width: 167px;
    height: 50px;
    background-color: #F16D7F;
    color: white;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: none;
}

.contacts-form-paragraph1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: black;
    margin-top: -10px;
}

.contacts-form-paragraph {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.contacts-form-paragraph3 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin-top: 15px;
    margin-bottom: 39px;
}

@media (max-width: 600px) {
    .container {
        width: 91%;
        margin: 0 auto;
    }

    .image-man {
        display: none;
    }

}